.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: var(--text);
}


.hero__container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
}

.hero__avatarContainer {
    position: relative;
    margin-bottom: 32px;
}

.hero__avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--accent);
    z-index: 1;
    position: relative;
}

.hero__avatarGlow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background: var(--accent);
    filter: blur(180px);
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.7;
}

.hero__title {
    font-size: 56px;
    margin-bottom: 12px;
}

.hero__role {
    font-size: 24px;
    color: var(--accent);
    margin-bottom: 20px;
}

.hero__desc {
    font-size: 18px;
    opacity: 0.85;
    margin-bottom: 36px;
}

.hero__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero__btnPrimary {
    background: var(--accent);
    color: white;
    padding: 16px 36px;
    border-radius: 10px;
    text-decoration: none;
}

.hero__btnSecondary {
    border: 1px solid var(--accent);
    padding: 16px 36px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text);
}

/* Primary button hover */
.hero__btnPrimary:hover {
    border: 1px solid var(--accent);
    background: white;
    color: var(--accent);
    cursor: pointer;
    transition: all 0.3s;
}

/* Secondary button hover */
.hero__btnSecondary:hover {
    background: var(--accent);
    color: white;     
    cursor: pointer;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .hero {
        min-height: 50vh;
    }
    .hero__avatar {
        width: 180px;
        height: 180px;
    }
    .hero__avatarGlow {
        width: 220px;
        height: 220px;
    }
    .hero__title {
        font-size: 40px;
    }
    .hero__role {
        font-size: 18px;
    }
    .hero__desc {
        font-size: 16px;
    }
    .hero__actions {
        flex-direction: column; /* buttonlar pastma-past */
        gap: 12px;
        align-items: center;    /* markazga joylash */
    }
    .hero__btnPrimary,
    .hero__btnSecondary {
        padding: 12px 24px;      /* padding kamaytirildi */
        font-size: 14px;          /* font kichikroq */
        width: 100%;              /* ekran bo‘ylab kengayadi */
        max-width: 250px;         /* yon tomondan katta bo‘lishni cheklaydi */
        text-align: center;
        margin: 0 auto;           /* markazga joylash */
        box-sizing: border-box;
    }
}